@using Domain.Entities

@if (articles is null)
{
    <p>There are no articles</p>
}
else
{
    <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-12 xl:grid-cols-4">
        @foreach (var article in articles)
        {
            <ArticleListCard Article=@article/>
        }
    </div>
}

@code {

    private List<Article>? articles;

    protected override Task OnInitializedAsync()
    {
        articles ??= new List<Article>();

        foreach (var _ in Enumerable.Range(0, 6))
        {
            articles.Add(new Article
            {
                Id = Guid.NewGuid(),
                Title = "Your most unhappy customers are your greatest source of learning.",
                Excerpt = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.",
                FeaturedImageUri = new Uri("https://preview.colorlib.com/theme/magdesign/images/ximg_2.jpg.pagespeed.ic.fbbBEgB1Q6.webp"),
                Author = new Author
                {
                    Id = Guid.NewGuid(),
                    Person = new Person
                    {
                        Id = Guid.NewGuid(),
                        FirstName = "Sergy",
                        LastName = "Campbell",
                        Occupation = new Occupation
                        {
                            Id = Guid.NewGuid(),
                            Name = "CEO and Founder"
                        }
                    }
                },
                Categories = new List<Category>
                {
                    new() {Id = Guid.NewGuid(), Name = "Business"},
                    new() {Id = Guid.NewGuid(), Name = "Travel"}
                },
                CreatedOn = DateTime.Now
            });
        }

        return Task.CompletedTask;
    }

}