html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body:before{
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-shadow{
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post.arrow-btn{
  transition: width 300ms ease;
  width: 50px;
}
.adjacent-post.arrow-btn:hover{
  width: 60px;
}

.react-multi-carousel-list.arrow-btn {
  transition: width 300ms ease;
  width: 50px;
}
.react-multi-carousel-list:hover{
  width: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}