@using Common.Application.Articles.Queries.GetAll
@using Common.Application.Articles.Queries.DTOs

@inherits PaginationBase

@if (!articles.Any())
{
    <p>There are no articles</p>
}
else
{
    <div class="grid sm:grid-cols-1 md:grid-cols-3 md:gap-12 lg:grid-cols-3">
        @foreach (var article in articles)
        {
            <ArticleListCard Article="@article"/>
        }
    </div>
}

@code {

    private IEnumerable<ArticleGetDTO> articles = Array.Empty<ArticleGetDTO>();

    protected override async Task OnInitializedAsync()
    {
        var newArticles = await Mediator.Send(new GetAllArticlesQuery(PaginationFilter));

        articles = newArticles.Data ?? Array.Empty<ArticleGetDTO>();
    }

}