@using Domain.Entities

<div>
    <div class="flex align-center justify-center pb-5 md:pb-12">
        <h3 class="text-2xl md:text-4xl font-extrabold">
            Trending
        </h3>
    </div>

    <ArticleTrendingCard Article="@Article"/>
</div>

@code {

    private readonly Article Article = new()
    {
        Id = Guid.NewGuid(),
        Title = "Your most unhappy customers are your greatest source of learning.",
        Excerpt = "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarks grove right at the coast of the Semantics, a large language ocean.",
        FeaturedImageUri = new Uri("https://preview.colorlib.com/theme/magdesign/images/xpost_lg_1.jpg.pagespeed.ic.FHpKG3L7pq.webp"),
        Author = new Author
        {
            Id = Guid.NewGuid(),
            Person = new Person
            {
                Id = Guid.NewGuid(),
                FirstName = "Sergy",
                LastName = "Campbell",
                Occupation = new Occupation
                {
                    Id = Guid.NewGuid(), 
                    Name = "CEO and Founder"
                }
            }
        },
        Categories = new List<Category>()
        {
            new() {Id = Guid.NewGuid(), Name = "Business"},
            new() {Id = Guid.NewGuid(), Name = "Travel"}
        },
        CreatedOn = DateTime.Now
    };

}