@page "/counter"

<PageTitle>Counter</PageTitle>

<h1 class="font-bold text-2xl">Counter</h1>

<section class="py-3">
    <p role="status">Current count: @currentCount.ToString()</p>
</section>

<button @onclick="IncrementCount" class="px-4 py-1 text-sm text-blue-500 font-semibold rounded-full border border-blue-200 hover:text-white hover:bg-blue-500 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
    Add
</button>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}