@page "/fetchdata"
@using Application.Articles.Queries.GetAll
@using Application.Common.Models
@using Domain.Entities

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (articles is not null)
{
    foreach (var article in articles)
    {
        <p>@article.Id.ToString()</p>
    }
}

@code {
    private IEnumerable<Article>? articles;

    protected override async Task OnInitializedAsync()
    {
        var fetchedArticles = await Mediator.Send(new GetAllArticlesQuery(new PaginationFilter()));

        articles = fetchedArticles.Data;
    }
}