@inherits LayoutComponentBase

<PageTitle>WebUI</PageTitle>

<section class="bg-gray-100 h-screen">
    <section class="sidebar">
        <NavMenu />
    </section>

    <main>
        <article class="content pt-3 px-8 xl:flex xl:justify-center">
            <section class="xl:w-3/4">
                @Body
            </section>
        </article>
    </main>
</section>