@inherits LayoutComponentBase

<PageTitle>ZeBlog</PageTitle>

<section class="bg-gray-100 min-h-full">
    <section class="sidebar">
        <NavMenu />
    </section>

    <main>
        <article class="content pt-3 md:px-8 xl:flex xl:justify-center">
            @Body
        </article>
    </main>
</section>